.section.chatbot {
    margin: 0;
    min-height: 100vh;
}
.chatbot .container {
    max-width: 787px;
    position: relative;
    width: 100%;
}
.chatbot__wrap {
    width: 100%;
}
.chatbot__back {
    background-color: transparent;
    border: none;
    height: 22px;
    position: relative;
    width: 22px;
}
.chatbot__back::before {
    border: 1px solid #64727c;
    border-right: none;
    border-bottom: none;
    content: '';
    height: 7px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 7px;
}
.chatbot__back span {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.chatbot__top {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #e5ecef;
    box-sizing: border-box;
    left: 0;
    padding: 13px 12px;
    position: sticky;
    top: 0;
    width: 100%;
}
.section__title.chatbot__title {
    font-size: 18px;
    margin: 0;
    flex-grow: 1;
    padding-left: 22px;
    text-align: center;
}
.chatbot__caption {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 6px;
}
.chatbot__caption--client {
    text-align: left;
}
.chatbot__chat {
    margin: 0 auto 25px;
    width: 94%;
    padding: 17px 0 0;
}
.chatbot__message {
    margin: 0 0 10px;
    overflow: hidden;
    transition-duration: 0.5s;
}
.chatbot__message--client {
    text-align: left;
}
.chatbot__message--user {
    text-align: right;
}
.chatbot__message--question {
    margin-top: 27px;
}
.chatbot__message.chatbot__message--hidden {
    height: 0;
    margin: 0;
    visibility: hidden;
}
.chatbot__blob {
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    color: #152630;
    margin: 0;
    max-width: 92%;
    padding: 12px 13px;
    text-align: left;
}
.chatbot__message--client .chatbot__blob {
    background-color: var(--color-gray-bg);
    margin-right: auto;
}
.chatbot__message--user .chatbot__blob {
    background-color: var(--light-pink);
    margin-left: auto;
}
.chatbot__message--user .chatbot__caption {
    text-align: right;
}
.chatbot__option {
    border: solid 1px var(--color-hightlight);
    margin-bottom: 9px;
    max-width: none;
    width: 100%;
}
.chatbot__option:not([disabled]):hover, .chatbot__option:active {
    background-color: var(--color-hightlight);
    color: #fff;
}
.chatbot__option.chatbot__option--active {
    background-color: var(--color-hightlight);
    color: #fff;
}
.chatbot__option:disabled {
    cursor: unset;
}
.chatbot__option:last-child {
    margin-bottom: 0;
}
.chatbot__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.48;
    margin: 0;
}
.chatbot__message--user .chatbot__text {
    width: 92%;
    margin: 0 4px 0 auto;
    text-align: right;
    line-height: 1.48;
}
.chatbot__result {
    margin: 28px 0;
    text-align: center;
}
.btn.chatbot__btn {
    margin-top: 22px;
}
.chatbot__loader {
    background-color: var(--color-gray-bg);
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 411px;
    padding: 15px 13px 10px;
    text-align: left;
}
.chatbot__loader span {
    animation-name: jump;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: var(--color-text-note);
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 3px;
    width: 8px;
}
.chatbot__loader span:nth-child(2) {
    animation-delay: 0.1s;
}
.chatbot__loader span:nth-child(3) {
    animation-delay: 0.3s;
}
@media (min-width: 768px) {
    .section.chatbot {
        margin: 57px 0 139px;
    }
    .chatbot__back {
        background-color: var(--color-gray-bg);
        border-radius: 13px;
        border: solid 1px var(--gray-border);
        color: var(--color-title);
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        height: auto;
        padding: 12px 33px;
        width: auto;
    }
    .chatbot__back::before {
        display: none;
    }
    .chatbot__back span {
        position: relative;
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
        padding-left: 12px;
    }
    .chatbot__back span::before {
        border: 1px solid #64727c;
        border-right: none;
        border-bottom: none;
        content: '';
        height: 7px;
        left: -7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 7px;
    }
    .chatbot__top {
        border: none;
        display: block;
        padding: 0;
        position: static;
        text-align: right;
    }
    .section__title.chatbot__title {
        font-size: 46px;
        margin: 0 0 36px;
        padding-left: 0;
    }
    .chatbot__wrap {
        max-width: 465px;
        margin: 0 auto;
        width: 90%;
    }
    .chatbot__caption {
        font-size: 16px;
    }
    .chatbot__chat {
        margin: 0 auto 20px;
        padding: 24px 0 0;
        width: 100%;
    }
    .chatbot__message {
        margin: 0 0 18px;
    }
    .chatbot__blob {
        border-radius: 14px;
        font-size: 20px;
        line-height: 1.5;
        max-width: 411px;
        padding: 15px 20px 20px;
    }
    .chatbot__text {
        font-size: 16px;
        line-height: 1.5;
    }
    .chatbot__message--user .chatbot__text {
        max-width: 350px;
        margin: 0 0 0 auto;
    }
    .chatbot__result {
        margin: 22px 0;
    }
    .chatbot__result .chatbot__caption {
        margin-bottom: 9px;
    }
    .btn.chatbot__btn {
        display: block;
        max-width: none;
        padding: 11px 10px;
        width: 100%;
    }
    .chatbot__loader {
        border-radius: 14px;
        padding: 15px 20px 10px;
    }
}
@keyframes jump {
    from {
        opacity: 1;
       transform: translateY(0);
    }
    to {
        opacity: 0.7;
        transform: translateY(-3px)
    }
}

.chatbot__description{
    text-align: justify;
    font-weight: bold;
    font-size: 15px;
}

.chatbot__result, .chatbot__text-success, .chatbot__text-fail, .chatbot__text-acceptable{
    display: none;
}

.chatbot__result .chatbot__caption{
    font-size: 25px;
    padding-top: 25px;
}

.chatbot__text-success, .chatbot__text-fail, .chatbot__text-acceptable{
    font-weight: bold;
    font-size: 20px;
}

.chatbot__text-success{
    color: green;
}

.chatbot__text-fail{
    color: red;
}

.chatbot__text-acceptable{
    color: orange;
}